{% extends 'FrontBundle:Default:index.html.twig' %}
{% block content %}


    <div class="nav-top">
        <nav class="navbar navbar-default">

            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav ">
                    <li ><a href="index.html" class="hyper "><span>Home</span></a></li>

                    <li  class="dropdown">
                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Kitchen<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                                        <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Personal Care <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi1">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Household<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <li class="active"><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="cart" >

            <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
        </div>
        <div class="clearfix"></div>
    </div></div></div>


    <!---->
    <!--banner-->


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li  data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#"> <img class="first-slide" src="{{ asset('images/boutique1.png') }}" alt="First slide"></a>

            </div>
            <div class="item">
                <a href="#"> <img class="second-slide " src="{{ asset('images/boutique2.png') }}" alt="Second slide"></a>

            </div>
            <div class="item"> <!--e4adbd-->
                <a href="#"><img class="third-slide " src="{{ asset('images/boutique3.png') }}" alt="Third slide"></a>

            </div>
        </div>
    </div>


    <!----------------------------------------------------------------------------------------------------------------->




    <div class="content-top ">
    <div class="container ">
    <div class="tab-head ">
        <nav class="nav-sidebar" style="color : #e4adbd ">
            <ul class="nav tabs ">
                <li class="" ><a href="{{ path('nosJouets') }}" >Nos Jouets</a></li>
                <li class=""><a href="{{ path('nosVetements') }}" >Nos Vêtements</a></li>
                <li class="active"><a href="{{ path('nosFournitures') }}" >Nos Fournitures</a></li>
                <li class=""><a href="{{ path('Boutique') }}" >Voir tout</a></li>
            </ul>
        </nav>

    </div>


    <!------------------------------------------------------------------------------------------------------------------------------>


    <div class=" tab-content tab-content-t ">
        <div class="tab-pane active text-style" id="tab1">
            <div class=" con-w3l">
                {% for i in m %}

                    <div class="col-md-3 m-wthree">
                        <div class="col-m" >
                            <a href="#" data-toggle="modal" data-target="#myModal21" class="offer-img">
                                <img  width="200px" class="img-responsive" alt="" height="auto" src={{ asset("ressources/" ~ i.getImage()) }}  >
                            </a>


                            <div class="mid-1" style="height: 250px">
                                <div class="women">

                                    <a href="{{ path('single3',{'id':i.getIdProduit()}) }}"><h6>{{ i.getNom() }}</h6> </a>
                                </div>
                                <br>
                                <div>Catégorie : {{ i.getCategorie() }}</div>
                                <div>Prix : {{ i.getPrixProduit() }}DT</div>
                                <!--<div>{{ i.getDescription() }}</div>-->
                                <div>Quantité disponible : {{ i.getQuantite() }}</div>
                                <!--<div class="mid-2">
                                    <p ><label>$2.00</label><em class="item_price">$1.50</em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>-->
                                <br>
                                <br>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" data-image="images/of.png">Add to Cart</button>
                                </div>

                            </div>
                        </div>
                    </div>

<!----------------------------------------------------------------------------------------------------------------------------->

                     <div class="modal fade" id="myModal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal-info">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body modal-spa">
                                            <div class="col-md-5 span-2">
                                                <div class="item">
                                                    <img src="{{ asset("ressources/" ~ i.getImage()) }}" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7 span-1 ">
                                                <h3>{{ i.getNom() }}</h3>
                                                <p class="in-para"> Catégorie : {{ i.getCategorie() }}</p>

                                                <div class="price_single">
                                                    <span class="reducedfrom ">{{ i.getPrixProduit() }}DT</span>

                                                    <div class="clearfix"></div>
                                                </div>
                                                <h4 class="quick">Description :</h4>
                                                <p class="quick_desc"> {{ i.getDescription() }}</p>
                                                <div class="add-to">
                                                    <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="21" data-name="Clips" data-summary="summary 21" data-price="0.80" data-quantity="1" data-image="images/of20.png">Add to Cart</button>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div></div>


{% endblock %}