{% extends 'FrontBundle:Default:index.html.twig' %}
{% block content %}
    <div class="nav-top" xmlns="http://www.w3.org/1999/html">
        <nav class="navbar navbar-default">

            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav ">
                    <li ><a href="index.html" class="hyper "><span>Home</span></a></li>

                    <li  class="dropdown ">
                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Kitchen<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                                        <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Personal Care <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi1">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Household<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <li><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="cart" >

            <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
        </div>
        <div class="clearfix"></div>
    </div>

    </div>

    </div>

    <div class="container-fluid">
    <!-- Start Page Content -->


    <div class="row">
    <!-- Column -->
    <div class="col-lg-12">

    <div class="login">

    <div class="col-md2 ">


    <div class="main-agileits">

    <div class="card-two">

    <header>

    <div class="avatar">

    {% if app.session.flashBag.has('accepter') %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            {% for msg in app.session.flashBag.get('accepter') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('refuser') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            {% for msg in app.session.flashBag.get('refuser') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('traitement1') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            {% for msg in app.session.flashBag.get('traitement1') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('traitement2') %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for msg in app.session.flashBag.get('traitement2') %}
                {{ msg }}
            {% endfor %}
            <a href={{ path('profilParent') }} class="alert-link">Consulter les profils</a>

        </div>
    {% endif %}
    {% if app.session.flashBag.has('traitement3') %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            {% for msg in app.session.flashBag.get('traitement3') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% for i in m %}

        <img  class="img-circle" width="150px" height="auto" src={{ asset("ressources/" ~ i.getImage()) }} >

        </div><br><br>
        </header>

        <h3>Bonjour,{{ nom }} <i class="fa fa-heart text-danger"></i></h3><br><br>

        </div>
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="dropdown">
                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Paramétrage du profil <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                    <li><a href="{{ path('delete',{'ref1':i.getIdOffre()}) }}">Désactiver votre profil</a></li>



                    <li><a href="{{ path('modifier',{'ref2':i.getIdOffre()}) }}">Modifier votre profil</a></li>
                </ul>
            </li>
        </ul><br><br>
        <div class="contacts">
            <table><tr><td>{{ facebookButton({'url':'http://www.facebook.com'} ) }}</td>
                    <td>{{ twitterButton()}}</td>
                    <td>{{ googleplusButton({'locale':'fr', 'url':'http://google.fr' })}}</td>
                    <td> {{ linkedinButton({'url': 'http://www.linked.net'}) }}</td>
                    <td> {{ pinterestButton() }}</td></tr>
            </table>    <div class="clear"></div>
        </div>
        </div>


        </div></div></div>



    </div>

        </div>

            <!-- Column -->
            <!-- Column -->
        <div class="container">
            <div class="advantages">
                <div class="col-md-6 advantages-left ">
                    <h3>Quelques informations</h3>
                    <div class="advn-one">
                            <div class="ad-mian">
                                <div class="ad-left">
                                    <p>1</p>
                                </div>
                                <div class="ad-right"><ul>
                                           <h2 style="color: #277ee1">General</h2><br>
<table>
    <tbody>

    <tr >


        <td style="text-align: left">
            <ul class="multi-column-dropdown">

                <li> <label>Adresse:</label><p>{{ i.getAdresse() }} </p></li>


                <li><label>Age:</label><p>{{ i.getAge() }} ans </p></li>


                <li><label>Sexe:</label> <p>{{ i.getSexe() }} </p></li>
                <li>  <label>Motivation et experience:</label><p>{{ i.getDescription() }}  </p></li>


        <td>
            <h2 class="t-button">
                </li>
        </td>
    </tr>

    </tbody>

</td></tr>

</table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ad-mian">
                                <div class="ad-left">
                                    <p>2</p>
                                </div>
                                <div class="ad-right">
                                    <h2 style="color: #277ee1">Coordonnées</h2><br>
                                    <table>
                                        <tbody>

                                        <tr >


                                            <td style="text-align: left">
                                                <ul class="multi-column-dropdown">


                                                    <li><label>Numero de telephone:</label><p>{{ i.getNumtel() }} </p></li>
                                                    <li>  <label>Adresse mail:</label> <p>{{ email }} </p></li>


                                            <td>
                                                <h2 class="t-button">
                                                    </li>
                                            </td>
                                        </tr>

                                        </tbody>

                                        </td></tr>

                                    </table>
                                 </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ad-mian">
                                <div class="ad-left">
                                    <p>3</p>
                                </div>
                                <div class="ad-right">
                                    <h2 style="color: #277ee1">A propos de moi</h2><br>

                                    <table>
                                        <tbody>


                                        <tr >


                                            <td style="text-align: left">
                                                <ul class="multi-column-dropdown">

                                                    <li><label>Experience:</label> <p>{{ i.getExperience() }} </p></li>
                                                    <li><label>Lieu de travail:</label> <p>{{ i.getLieuBaby() }} </p></li>
                                                    <li><label>Disponibilité:</label> <p>{{ i.getDispo() }} </p></li>


                                        <td>
                                            <h2 class="t-button">
                                                </li>
                                        </td>
                                        </tr>

                                        </tbody>

                                        </td></tr>

                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div> <div class="ad-mian">
                                <div class="ad-left">
                                    <p>4</p>
                                </div>
                                <div class="ad-right">
                                    <h2 style="color: #277ee1">Mes activités</h2><br>
                                    <table>
                                        <tbody>

                                        <tr >


                                            <td style="text-align: left">
                                                <ul class="multi-column-dropdown">
                                        {% if(i.getFumeuse()=='1')  %}

                                            <li><p>Je fume</li>

                                        {% endif %}
                                        {% if(i.getFumeuse()!='1')  %}

                                                    <li><p>Je ne fume pas</p></li>

                                        {% endif %}
                                        {% if(i.getEnfant()=='1')  %}

                                        <li><p>Je suis maman</p></li>

                                        {% endif %}
                                        {% if(i.getEnfant()!='1')  %}

                                        <li><p>Je ne suis pas une maman </p></li>

                                        {% endif %}
                                        {% if(i.getConduite()=='1')  %}

                                        <li><p>Je posséde un permis de conduire</p></li>

                                        {% endif %}
                                        {% if(i.getConduite()!='1')  %}

                                        <li><p>Je ne posséde pas un permis de conduire</p></li>

                                        {% endif %}  {% if(i.getAgregation()=='1')  %}

                                        <li><p>Je suis une assistante maternelle agréée</p></li>

                                        {% endif %}
                                        {% if(i.getAgregation()!='1')  %}

                                        <li><p>Je ne suis pas une assistante maternelle agréée</p></li>

                                        {% endif %}
                                        <td>
                                            <h2 class="t-button">
                                                </li>
                                        </td>
                                        </tr>

                                        </tbody>

                                        </td></tr>

                                    </table>
                                    <br><br>
                                </div>
                                <div class="clearfix"></div>
                            </div>



                            </div>
                        </div>
</ul>
                <div class="col-md-6 advantages-left about-agi">
                    <h3>Mes demandes</h3>

                        <div class="advn-two">
                            <h4><a href="single.html"></a></h4>
                            <p></p>
                            {% for j in m1 %}

                            <table class="table table-hover" style="border-color: #ffffff">
                                <img src="{{ asset('images/profilBarre.png') }}" class="img-responsive img1", alt=""><br>

                                <form action="{{ path('accepterReserv',{'idReserv':j.idDemande}) }}" method="POST">
                                    <button   style="background-color: transparent;border-color: transparent" type="submit" ><img width="20px" height="auto" src="{{ asset("images/confirmar.png") }}"></button>
                                </form>
                                <form action="{{ path('refuserReserv',{'idReserv':j.idDemande}) }}" method="POST">
                                    <button  style="background-color: transparent;border-color: transparent" type="submit" ><img width="20px" height="auto" src="{{ asset("images/erro.png") }}"></button>
                                </form>
                                <tbody>

                                <tr >


                                    <td style="text-align: left">

                                        <ul class="multi-column-dropdown">

                                            <li> <h2 style="color: #277ee1">{{ j.username }} vous a reserver pour la garde de son enfant</h2>
                                           <br>
                                               </li>


                                            <li><label>Description:</label><p>{{ j.description }}</p></li>


                                            <li><label>Date debut:</label><p>{{ j.dateDebut|date('m.d.y') }}</p></li>
                                            <li> <label>Date fin:</label><p>{{ j.dateFin|date('m.d.y') }}</p></li>
                                            <li><label>Heure de pointe:</label><p>{{ j.heureDebut|date('g:i') }}</p></li>
                                            <li><label>Heure de sortie:</label><p>{{ j.heureFin|date('g:i') }}</p></li>


                                    <td>
                                        <h2 class="t-button">
                                        </li>
                                    </td>
                                </tr>

                                </tbody>

                                <br><br>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            </div>
        </div>
        <!--advantages-->

        </div>

    {% endfor %}

{% endblock %}