{% extends 'FrontBundle:Default:index.html.twig' %}
{% block content %}


    <div class="nav-top">
        <nav class="navbar navbar-default">

            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav ">
                    <li ><a href="index.html" class="hyper "><span>Home</span></a></li>

                    <li  class="dropdown ">
                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Kitchen<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                                        <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Personal Care <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi1">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Household<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <li><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="cart" >

            <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
        </div>
        <div class="clearfix"></div>
    </div>

    </div>
    </div>
    <!---->
    <!--banner-->
    {% for i in m %}

        <div class="col-md2 ">
            <img src="{{ asset('images/barreA.png') }}" class="img-responsive img1" alt="">
            <div class="big-sale2">
                <img class="img-circle" src="{{ asset("ressources/" ~ i.image) }}" width="130px" height="auto" >

        <h3 style="color: #808070">Bonjour, je m'appelle {{ i.username }}!</h3>
            </div>







    <!-- faqs -->
    <div class="about-w3 ">


        <!--about-->

        <!--//about-->

        <!--work-experience-->
        <div  class="work">
            <div class="container">

                <div class="work-info">
                    <div class="col-md-6 work-left">
                        <div class=" work-w3 ">
                            <p><ul class="multi-column-dropdown">

                            <li style="color: #ffae91">      Ma motivation</li>

                            <p> {{ i.description}} </p><br><div  class="work-info">
                            </div>

                                <li style="color: #ffae91">      Mes activités</li>

                                {% if(i.fumeuse=='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je fume</li>

                                {% endif %}
                                {% if(i.fumeuse!='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je ne fume pas</li>

                                {% endif %}
                                {% if(i.enfant=='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je suis maman</li>

                                {% endif %}
                                {% if(i.enfant!='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je ne suis pas une maman </li>

                                {% endif %}
                                {% if(i.conduite=='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je posséde un permis de conduire</li>

                                {% endif %}
                                {% if(i.conduite!='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je ne posséde pas un permis de conduire</li>

                                {% endif %}  {% if(i.agregation=='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je suis une assistante maternelle agréée</li>

                                {% endif %}
                                {% if(i.agregation!='1')  %}

                                    <li style="color: #a7a795"><img src="{{ asset("images/Bien.png") }}" width="15px">Je ne suis pas une assistante maternelle agréée</li>

                                {% endif %}

                            </ul></p>
                        </div>
                        <label></label>
                    </div>
                    <div class="col-md-6 work-right">
                        <div class=" work-w31">
                            <p><ul class="multi-column-dropdown">

                            <li style="color: #ffae91">    A propos de moi en tant que baby-sitter</li>


                           <li style="color: #a7a795"><img src="{{ asset("ressources/enfant.png") }}" width="15px"> Age:{{ i.age}}ans </li>
                            <li style="color: #a7a795"><img src="{{ asset("ressources/adresse.png") }}" width="15px">  Adresse:{{ i.adresse}} </li>
                            <li style="color: #a7a795"><img src="{{ asset("ressources/numero.png") }}" width="15px"> Numéro de téléphone: {{ i.numtel}} </li>
                                <li style="color: #a7a795"><img src="{{ asset("ressources/mail.png") }}" width="15px">Email : {{ i.email}} </li>

                                <li style="color: #a7a795"><img src="{{ asset("ressources/description.png") }}" width="15px">  Mon experience: {{ i.experience}} </li>

                                <li style="color: #a7a795"> <img src="{{ asset("ressources/description.png") }}" width="15px"> Lieu de travail: {{ i.lieu_baby}} </li>
                            <li style="color: #a7a795"><img src="{{ asset("ressources/description.png") }}" width="15px">Disponibilité: {{ i.dispo}} </li>
</ul>
                            <div  class="work-info">
                            </div>

                            <p></p>                        </div>
                        <label></label>
                    </div>
                    <button type="submit" class="btn btn-success m-b-10 m-l-5"value="Modifier" >Reserver</button>

                </div>
                <div class="work-info">


                    <div class="clearfix"> </div>
                </div>
                <div class="work-info">


                    <div class="clearfix"> </div>
                </div>
                <div class="work-info">

                    <div class="clearfix"> </div>

                </div>
            </div>
        </div>
        <!--//work-experience-->
        <!--advantages-->


    </div></div>    </div>

        <!-- // Terms of use -->
{% endfor %}


{% endblock %}