{% extends 'FrontBundle:Default:index.html.twig' %}
{% block content %}



				<div class="nav-top">
					<nav class="navbar navbar-default">

					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>


					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav ">
							<li ><a href="index.html" class="hyper "><span>Home</span></a></li>

							<li  class="dropdown ">
								<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Kitchen<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">

												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
												<li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
												<li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

											</ul>
										</div>
										<div class="col-sm-3 w3l">
											<a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class=" active"><a href={{ path('care') }} class="hyper"><span>Nos Garderies</span></a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Household<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi multi2">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
												<li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

											</ul>
										</div>
										<div class="col-sm-3 w3l">
											<a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>

							<li><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
							<li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
						</ul>
					</div>
					</nav>

					 <div class="cart" >

						<span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
					</div>
					<div class="clearfix"></div>
				</div>

				</div><ol class="breadcrumb"><li>
	<li><a href="{{ path('plus',{'id':id}) }}" >Objectif&Programme</a></li>
	<li ><a href="{{ path('enseignants',{'id':id}) }}">Enseignants</a></li>
	<li ><a href="{{ path('inscriEnfant',{'id':id}) }}">Inscription</a></li>
	<li ><a href="{{ path('activiteFront',{'id':id}) }}">Activité</a></li>
	<li ><a href="{{ path('quizF',{'id':id}) }}">Quiz</a></li></ol>
</div>
  <!---->



<!--content-->

<!--content-->
		<div class="product">

			<input type="hidden" value="{{ id }}">

			<div class="container">
				<label style="color: #007bff;font-size: 22px">{{ quiz.getTheme() }}</label><br><br>
<img src="{{ asset("ressources/" ~ quiz.getImage()) }}"><br><br><br>{{ form_start(f) }}
				<table>
<th style="color: hotpink;font-size: 18px">{{ quiz.getQuestion()}}</th>
					<tr>
						<td style="text-align: left"><br>
                            {{ form_widget(f.en1) }}
							<label>{{ quiz.getRep1()}}</label>
						<br>
							<br>
                            {{ form_widget(f.en2) }}
							<label>{{ quiz.getRep2()}}</label>
							<br>
							<br>
                            {{ form_widget(f.en3) }}
							<label>{{ quiz.getRep3()}}</label>
						</td>
					</tr>
				</table>
                {{ form_widget(f.valider) }}
                {{ form_end(f) }}

			</div>
	</div>
{% endblock %}