{% extends 'FrontBundle:Default:index.html.twig' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

    <div class="nav-top">
        <nav class="navbar navbar-default">

            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs" >
                <ul class="nav navbar-nav " style="color : lightpink">
                    <li ><a href="index.html" class="hyper "><span>Home</span></a></li>

                    <li  class="dropdown">
                        <a href="#" class="dropdown-toggle  hyper"  data-toggle="dropdown" ><span>Kitchen<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                                        <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Personal Care <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi1">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Household<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <li><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="cart" data-toggle="modal" data-target="#myModal123" >

            <span class="fa fa-shopping-cart "></span> Mon Panier
        </div>
        <div class="clearfix"></div>
    </div>

    </div>
    </div>
    <!---->
    <!--banner-->


    <img src="{{ asset('images/divHead3.png') }}"/>


    <div class="single">
        <div class="container">
            <div class="single-top-main">
                <div class="col-md-5 single-top">
                    <div class="single-w3agile">
                        {% if e is not null and e.getDateDebut()|date('Y-m-d') <= "now"|date('Y-m-d')  %}
                            <div id="picture-frame">
                                <a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
                                    <img style="background-size: cover; left: 0; top: 0; right: 0; z-index: 10; position:relative; background-size:cover; " src="{{ asset("ressources/" ~ i.getImage()) }}" data-src="{{ asset("ressources/" ~ i.getImage()) }}" alt="" class="img-responsive"/>
                                    <img style=" position: absolute ; background-size: auto; width: 17%; height: auto; top: 0px; left: 270px; z-index: 999;"  src="{{ asset("ressources/promo.png") }}">
                                    <!--<div class="offer"><p style="font-size: large"><span>En Promotion</span></p></div>--></a>

                            </div>
                        {% else %}
                            <div id="picture-frame">
                                <a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
                                    <img  src="{{ asset("ressources/" ~ i.getImage()) }}" data-src="{{ asset("ressources/" ~ i.getImage()) }}" alt="" class="img-responsive"/>
                                </a>
                            </div> {% endif %}
                        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
                        {{ form_start(f) }}
                        <tr>
                            <td>{{ form_widget(f.rating) }}</td> <td>{{ form_widget(f.Valider) }}</td>

                        </tr>
                        {{ form_end(f) }}

                        <script src="js/jquery.zoomtoo.js"></script>
                        <script>
                            $(function() {
                                $("#picture-frame").zoomToo({
                                    magnify: 1
                                });
                            });
                        </script>



                    </div>
                </div>


                <form action="{{ path('ajouter_ligne_commande') }}" method="post">
                    <input type="text" name="identifiant" hidden value="{{ i.getIdProduit() }}"/>
                    <div class="col-md-7 single-top-left ">
                        <div class="single-right">

                            <h3 style=" font-size: 20px ">{{ i.getNom() }}</h3> <br>

                            {% if e is not null and e.getDateDebut()|date('Y-m-d') <= "now"|date('Y-m-d') %}

                                <div class="pr-single">
                                    <p class="reduced " style="color: red ; font-size: 17px"><del style="color: dodgerblue">{{ i.getPrixProduit() }}DT</del>{{ e.getPrixPromo() }}DT</p>
                                    <p style="color: darkgrey ; font-size: 12px " >Du {{ e.getDateDebut()|date('m-d') }} jusqu'au {{ e.getDateFin()|date('m-d') }}</p>
                                    <p style="color: red ; font-size: 25px " > -{{ e.getPourcentage() }}% </p>
                                </div>
                            {% else %}
                                <div class="pr-single">
                                    <p class="reduced " style="color: dodgerblue ; font-size: 17px">{{ i.getPrixProduit() }}DT</p>
                                </div>
                            {% endif %}


                            <div class="block block-w3">

                            </div>
                            <p style="color: black ; font-size: 14px">Livraison toujours gratuites! </p>

                            <p class="in-pa"> {{ i.getDescription() }}
                                <br>

                            <p style="color: black">Quantité disponible : <select name="selection">{% for nb in 1..i.getQuantite() %}
                                        <option>
                                            {{ nb }}
                                        </option>
                                    {% endfor %}</select></p></p>
                            <br>
                            <br>


                            <ul class="social-top">
                                <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                                <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                                <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                                <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                            </ul>
                            <div class="add add-3">
                                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="Wheat" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/si.jpg">Ajouter wishlist</button>
                            </div>





                            <div class="clearfix"> </div>
                        </div>


                    </div>
                </form>

                <!--<form action="" method="post">
                <textarea id="comment" placeholder="Message" id="message" name="message" rows="1"></textarea>
                <button type="submit" >Commenter</button>
                </form>-->

                <div class="clearfix"> </div>
            </div>


        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------>
    <div class="single-right ">


        <div class="container">

            <div id="fos_comment_thread" data-thread="{{ thread.id }}">

                {% include '@FOSComment/Thread/comments.html.twig' with {
                'comments': comments,
                'thread': thread
                } %}

            </div></div></div>
    <!------------------------------------------------------------------------------------------------------------------------>

    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="col-md-5 span-2">
                        <div class="item">
                            <img src="{{ asset("ressources/" ~ i.getImage()) }}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 span-1 ">
                        <h3 style=" font-size: 20px ">{{ i.getNom() }}</h3>
                        <p class="in-para"> Catégorie : {{ i.getCategorie() }}</p>
                        {% if e is not null %}
                            <div class="price_single">
                                <!--<span class="reducedfrom "><del>{{ i.getPrixProduit() }}</del>{{ e.getPrixPromo()  }}</span>-->
                                <p class="reduced " style="color: red ; font-size: 19px"><del style="color: dodgerblue">{{ i.getPrixProduit() }}DT</del>{{ e.getPrixPromo() }}DT</p>


                                <div class="clearfix"></div>
                            </div>

                        {% elseif e is null %}
                            <div class="price_single">
                                <span class="reducedfrom ">{{ i.getPrixProduit() }}DT</span>

                                <div class="clearfix"></div>
                            </div>
                        {% endif %}


                        <h4 class="quick">Description :</h4>
                        <p class="quick_desc">{{ i.getDescription() }}</p>

                        <p style="color: black ; font-size: 14px ">Quantité disponible : <select name="selection">{% for nb in 1..i.getQuantite() %}
                                    <option>
                                        {{ nb }}
                                    </option>
                                {% endfor %}</select></p>
                        <br> <br>


                        <div class="add-to">
                            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="5" data-name="Lays" data-summary="summary 5" data-price="0.70" data-quantity="1" data-image="images/of4.png">Ajouter wishlist</button>
                        </div>





                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>


    <!-------------------------------------------------------------------------------------------------------------------->
    <!---->
    <div class="content-top offer-w3agile">
        <div class="container ">
            <div class="spec ">
                <h3 style=" font-size: 20px ">Produits similaires</h3>

            </div>
            <div class=" con-w3l wthree-of">

                {% for j in some %}
                    <div class="col-md-3 pro-1">
                        <div class="col-m">
                            <a href="#" data-toggle="modal" data-target="#myModal6" class="offer-img">
                                <img width="300px" height="auto" style="background-size: cover; left: 0; top: 0; right: 0; z-index: 10; position:relative; background-size:cover; " src="{{ asset('ressources/' ~ j.getImage()) }}" class="img-responsive" alt="">

                                {% if j.getPromotion()==1 %}
                                    <img style=" position: absolute ; background-size: auto; width: 17%; height: auto; top: 0px; left: 150px; z-index: 999;"  src="{{ asset("ressources/promo.png") }}">

                                {% endif %}
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="{{ path('single3',{'id':j.getIdProduit()}) }}">{{ j.getNom() }}</a></h6>


                                    {% if j.getPromotion()==1 %}
                                        <p class="reduced " style="color: red ; font-size: 17px"><del style="color: dodgerblue">{{ j.getPrixProduit() }}DT</del>{{ j.getNouvPrix() }}DT</p>
                                    {% else %}
                                        <br>

                                        Prix : <span class="reduced" style="color: dodgerblue ; font-size: 17px">{{ j.getPrixProduit() }}DT</span>

                                    {% endif %}


                                </div>

                                <div class="mid-2">


                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!----------------------------------------------------------------------------------------------------------------------------->

                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-info">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body modal-spa">
                                    <div class="col-md-5 span-2">
                                        <div class="item">
                                            <img src="{{ asset('ressources/' ~ j.getImage()) }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-7 span-1 ">
                                        <h3 style=" font-size: 20px ">{{ j.getNom() }}</h3>
                                        <p class="in-para"> Catégorie : {{ j.getCategorie() }}</p>
                                        <div class="price_single">



                                            {% if j.getPromotion()==1 %}
                                                <p class="reduced " style="color: red ; font-size: 17px"><del style="color: dodgerblue">{{ j.getPrixProduit() }}DT</del>{{ j.getNouvPrix() }}DT</p>
                                            {% else %}

                                                <span class="reducedfrom " style="color: dodgerblue; font-size: 17px">{{ j.getPrixProduit() }}DT</span>

                                            {% endif %}




                                            <div class="clearfix"></div>
                                        </div>
                                        <h4 class="quick">Description :</h4>
                                        <p class="quick_desc"> {{ j.getDescription() }}</p>
                                        <div class="add-to">
                                            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="6" data-name="Kurkure" data-summary="summary 6" data-price="0.70" data-quantity="1" data-image="images/of5.png">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-------------------------------------------------CART---------------------------------------------------------->



                    <div class="modal fade" id="myModal123" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-info">


                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                            Mon panier</h4>
                                    </div><div class="modal-body">
                                        <table class="table table-hover table-responsive" id="my-cart-table"><tbody>
                                            {% for i in com %}<tr title="summary 21" data-id="21" data-price="0.80"><td class="text-center" style="width: 30px;"><img width="50px" height="auto" src={{ asset("ressources/" ~ i.getIdLigne().getIdProduit().getImage() ) }}>
                                                </td><td>Prix : {{ i.getIdLigne().getIdProduit().getPrixProduit() }}</td>
                                                <td title="Unit Price">Quantité commandée : {{ i.getIdLigne().getQuantite() }} </td>
                                                <!--<td title="Quantity"><input type="number" min="1" style="width: 70px;" class="my-product-quantity" value="1"></td>-->
                                                <td title="Total" class="my-product-total">Total payé : {{ i.getTotal() }}</td>

                                                <!--<td>
										<button  class="btn btn-warning m-b-10 m-l-5" type="submit" ><img width="20px" height="auto" src="{{ asset("ressources/delete.png") }}"></button>
									</td>-->

                                                <td title="Remove from Cart" class="text-center" style="width: 30px;">
                                                    <form action="{{ path('supprimerCommande',{'id':i.getIdCommande()}) }}" method="POST">
                                                        <button class="btn btn-xs btn-danger my-product-remove">X</button>
                                                    </form></td></tr>{% endfor %}

                                            </tbody></table></div><div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div></div>
                            </div>
                        </div>
                    </div>




                    <!-------------------------------------------------CART------------------------------------->




                {% endfor %}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}