{% extends 'FrontBundle:Default:index.html.twig' %}
{% block content %}

    <div class="nav-top">
        <nav class="navbar navbar-default">

            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav ">
                    <li ><a href="index.html" class="hyper "><span>Home</span></a></li>

                    <li  class="dropdown">
                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Kitchen<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                                        <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                                        <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Personal Care <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi1">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                        <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Household<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-3">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                                        <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-3 w3l">
                                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <li><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="cart" >

            <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
        </div>
        <div class="clearfix"></div>
    </div>

    </div>
    </div>
    <!---->
    <!--banner-->


    <img src="{{ asset('images/divHead3.png') }}"/>


    <div class="single">
        <div class="container">
            <div class="single-top-main">
                <div class="col-md-5 single-top">
                    <div class="single-w3agile">
                        {% if e is not null %}
                            <div id="picture-frame">
                                <a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
                                    <img  src="{{ asset("ressources/" ~ i.getImage()) }}" data-src="{{ asset("ressources/" ~ i.getImage()) }}" alt="" class="img-responsive"/>
                                    <div class="offer"><p><span>En Promotion</span></p></div></a>
                            </div>
                        {% elseif e is null %}
                            <div id="picture-frame">
                                <a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
                                    <img  src="{{ asset("ressources/" ~ i.getImage()) }}" data-src="{{ asset("ressources/" ~ i.getImage()) }}" alt="" class="img-responsive"/>
                                </a>
                            </div> {% endif %}



                        <script src="js/jquery.zoomtoo.js"></script>
                        <script>
                            $(function() {
                                $("#picture-frame").zoomToo({
                                    magnify: 1
                                });
                            });
                        </script>



                    </div>
                </div>
                <div class="col-md-7 single-top-left ">
                    <div class="single-right">
                        <h3>{{ i.getNom() }}</h3>

                        {% if e is not null %}
                            <div class="pr-single">
                                <p class="reduced "><del>{{ i.getPrixProduit() }}DT</del>{{ e.getPrixPromo() }}DT</p>
                            </div>
                        {% elseif e is null %}
                            <div class="pr-single">
                                <p class="reduced ">{{ i.getPrixProduit() }}DT</p>
                            </div>
                        {% endif %}


                        <div class="block block-w3">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <p class="in-pa"> {{ i.getDescription() }} </p>

                        <ul class="social-top">
                            <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                            <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                            <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                            <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                        </ul>
                        <div class="add add-3">
                            <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="Wheat" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/si.jpg">Add to Cart</button>
                        </div>



                        <div class="clearfix"> </div>
                    </div>


                </div>
                <div class="clearfix"> </div>
            </div>


        </div>
    </div>


    <!------------------------------------------------------------------------------------------------------------------------>


    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="col-md-5 span-2">
                        <div class="item">
                            <img src="{{ asset("ressources/" ~ i.getImage()) }}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 span-1 ">
                        <h3>{{ i.getNom() }}</h3>
                        <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                        {% if e is not null %}
                            <div class="price_single">
                                <span class="reducedfrom "><del>{{ i.getPrixProduit() }}</del>{{ e.getPrixPromo()  }}</span>

                                <div class="clearfix"></div>
                            </div>

                        {% elseif e is null %}
                            <div class="price_single">
                                <span class="reducedfrom ">{{ i.getPrixProduit() }}DT</span>

                                <div class="clearfix"></div>
                            </div>
                        {% endif %}


                        <h4 class="quick">Description :</h4>
                        <p class="quick_desc">{{ i.getDescription() }}</p>
                        <div class="add-to">
                            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="5" data-name="Lays" data-summary="summary 5" data-price="0.70" data-quantity="1" data-image="images/of4.png">Add to Cart</button>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>


    <!-------------------------------------------------------------------------------------------------------------------->




    <!---->
    <div class="content-top offer-w3agile">
        <div class="container ">
            <div class="spec ">
                <h4>Produits similaires</h4>

            </div>
            <div class=" con-w3l wthree-of">

                {% for j in some %}
                    <div class="col-md-3 pro-1">
                        <div class="col-m">
                            <a href="#" data-toggle="modal" data-target="#my" class="offer-img">
                                <img width="300px" height="auto" src="{{ asset('ressources/' ~ j.getImage()) }}" class="img-responsive" alt="">

                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="{{ path('single3',{'id':j.getIdProduit()}) }}">{{ j.getNom() }}</a></h6>
                                </div>
                                <div class="mid-2">



                                    <p ><em class="item_price">{{ j.getPrixProduit() }}DT</em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="5" data-name="Lays" data-summary="summary 5" data-price="0.70" data-quantity="1" data-image="images/of4.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!----------------------------------------------------------------------------------------------------------------------------->

                    <div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-info">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body modal-spa">
                                    <div class="col-md-5 span-2">
                                        <div class="item">
                                            <img src="{{ asset('ressources/' ~ j.getImage()) }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-7 span-1 ">
                                        <h3>{{ j.getNom() }}</h3>
                                        <p class="in-para"> Catégorie : {{ j.getCategorie() }}</p>
                                        <div class="price_single">
                                            <span class="reducedfrom ">{{ j.getPrixProduit() }}DT</span>

                                            <div class="clearfix"></div>
                                        </div>
                                        <h4 class="quick">Description :</h4>
                                        <p class="quick_desc"> {{ j.getDescription() }}</p>
                                        <div class="add-to">
                                            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="6" data-name="Kurkure" data-summary="summary 6" data-price="0.70" data-quantity="1" data-image="images/of5.png">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    </div>







                {% endfor %}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}