{% extends 'BackBundle:Default:index.html.twig' %}
{% block content %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Promotions</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Gestion Produits</a></li>
                <li class="breadcrumb-item active">Mes produits</li>
                <li class="breadcrumb-item active">Promotions</li>
            </ol>
        </div>
    </div>

<div class="container-fluid">

    <div class="row" style="background-color: lightpink">

<div class="col-lg-12">
    <div class="card">
        <div class="card-title">
            <h4>Liste des promotions</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table  class="table table-hover " cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <td>Produit</td>
                        <td>Pourcentage</td>
                        <td>Date Début</td>
                        <td>Date Fin</td>
                        <td>Prix avant promo</td>
                        <td>Prix après promo</td>
                        <td></td>
                        <td></td>


                    </tr>
                    </thead>
                    {% for i in m %}
                        <tbody>
                        <tr>

                            <td><img  width="150px" height="auto" src={{ asset("ressources/" ~ i.getIdProduit().getImage() ) }} ></td>
                            <td style="font-size: 19px">{{ i.getPourcentage() }}%</td>
                            <td>{{ i.getDateDebut()|date('d-m-Y') }}</td>
                            <td>{{ i.getDateFin()|date('d-m-Y') }}</td>
                            <td style="text-decoration: line-through ; color: red ; font-size: 16px">{{ i.getIdProduit().getPrixProduit() }}DT</td>
                            <td style="color: limegreen; font-size: 16px">{{ i.getPrixPromo() }}DT</td>
                            <td><form action="{{ path('supprimerPromotion',{'id':i.getIdPromo()}) }}" method="POST">
                                    <button  class="btn btn-warning m-b-10 m-l-5" type="submit" ><img width="20px" height="auto" src="{{ asset("ressources/delete.png") }}"></button>
                                </form></td>
                            <td><form action="{{ path('modifierPromotion',{'id':i.getIdPromo()}) }}" method="POST">
                                    <button  class="btn btn-warning m-b-10 m-l-5" type="submit" ><img width="20px" height="auto" src="{{ asset("ressources/updateIcon.png") }}"></button>
                                </form></td>

                        </tr>
                        </tbody>
                    {% endfor %}
                </table>








            </div>
        </div>
    </div>
    </div>
</div>

    </div>
 {% endblock %}