{% extends 'BackBundle:Default:index.html.twig' %}
{% block content %}
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product line Chart</h4>
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Site visit Chart</h4>
                    <div id="morris-area-chart2"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Line Chart</h4>
                    <div id="morris-line-chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Donut Chart</h4>
                    <div id="morris-donut-chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bar Chart</h4>
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Extra Area Chart</h4>
                    <div id="extra-area-chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->
    </div>

    <!-- End PAge Content -->
</div>
<!-- End Container fluid  -->
<!-- footer -->

<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{{ asset('back/js/lib/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ asset('back/js/lib/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ asset('back/js/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('back/js/jquery.slimscroll.js') }}"></script>


<script src="{{ asset('back/js/lib/morris-chart/raphael-min.js') }}"></script>
<script src="{{ asset('back/js/lib/morris-chart/morris.js') }}"></script>
<script src="{{ asset('back/js/lib/morris-chart/morris-init.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ asset('back/js/custom.min.js') }}"></script>
{% endblock %}