{% extends 'BackBundle:Default:index.html.twig' %}
{% block content %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row" >


                    <div class="card-body" >
                        <div class="card-content" >
                            <!-- /# row -->
                            <div class="row" style="background-color: darkviolet">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="col-lg-6">
                                                    <div class="input-group input-group-default" >
                                                        {{ form_start(f2) }}
                                                        <table>
                                                            <tr><td></td><td></td><td></td>
                                                                <td>{{ form_widget(f2.nom) }}</td>

                                                                <td> <span class="input-group-btn">{{ form_widget(f2.Rechercher) }}</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                        </table>

                                                        {{ form_end(f2) }}



                                                        <!--<span class="input-group-btn"><button class="btn btn-primary input-group-close-icon btn-group-left" type="submit"><i class="ti-close"></i></button></span>
                                                        <input type="text" class="form-control" placeholder="recherche par catégorie..">
                                                        <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="ti-search"></i></button></span>-->
                                                    </div>
                                                    </div>

                                        <div class="card-title">
                                            <h4>Liste des garderies</h4>

                                        </div>
                                        <div class="col-lg-12">


                                            <div class="card-body">

                                                <table class="table">

                                                    {% for i in m %}
                                                        <tbody>
                                                        <tr>
                                                            <td>
<img src="{{ asset("ressources/" ~ i.getImage()) }}" width="150px" height="auto" >
                                                            </td>
                                                            <td style="text-align: left"><li>{{ i.nom }}</li>
                                                                <li>Email:{{ i.Email }}</li>
                                                                <li>Adresse:{{ i.adresse }}</li>
                                                                <li>Numero de téléphone:{{ i.numTel }}</li>
                                                                <li>Description:{{ i.description }}</li>

                                                                <li>nombre de place Disponible:{{ i.getNbPlaceDispo() }}</li></td><td>
                                                               <form action="{{ path('modifierGarderie',{'id':i.getIdGarderie() }) }}" method="post">
                                                                        <button type="submit" class="btn btn-warning m-b-10 m-l-5"value="Modifier" ><img width="20px" height="auto" src="{{ asset("ressources/modifier.png") }}"></button></form></li>
                                                               <form action="{{ path('supprimerGarderie',{'id':i.getIdGarderie() }) }}" method="post"><button type="submit" class="btn btn-danger m-b-10 m-l-5"><img width="20px" height="auto" src="{{ asset("ressources/delete.png") }}"></button></form>
                                                                <li class="nav-item dropdown mega-dropdown"> <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="input-group-btn"><button class="btn btn-primary" type="submit" ><p style="color: white">+</p></button></span></a>

                                                                    <div class="dropdown-menu animated zoomIn">
                                                                        <ul class="mega-dropdown-menu row">


                                                                            <li class="col-lg-12  ">
<p style="color: darkviolet">Programme:</p> </br>{{ i.proEducatif }}

                                                                            </li>
                                                                            <li class="col-lg-12 ">


                                                                                <p style="color: darkviolet">Objectif: </p></br>{{ i.objectif }}
                                                                            </li>


                                                                        </ul>
                                                                    </div>
                                                                </li> </td>
                                                        </tr>

                                                        </tbody>
                                                    {% endfor %}
                                                </table>
                                                <script src="{{ asset('jquery.js')}}"></script>
                                                <script>


                                                    $("#bt").click(
                                                        function(){
                                                            $("#myModal1").hide() ;

                                                        }
                                                    )

                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-title">
                                            <h4>Ajout</h4>

                                        </div>
                                        <div class="card-body">
                                            <div class="basic-elements"> {{ form_start(f) }}

                                                {{ form_widget(f) }}


                                                {{ form_end(f) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /# column -->

                                    <!-- /# card -->
                                </div>
                                <!-- /# column -->
                            </div>
                            <!-- /# row -->


                        </div>
                    </div>

            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->

    <!-- End Wrapper -->


    <!--stickey kit -->
    <script src="{{ asset('back/js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('back/js/custom.min.js') }}"></script>
{% endblock %}