{% extends 'BackBundle:Default:index.html.twig' %}
{% block content %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row" >


                    <div class="card-body" >
                        <div class="card-content" >
                            <!-- /# row -->
                            <div class="row" style="background-color: darkviolet">

                                <div class="col-lg-12">
                                    <div class="card">
                                        <table>
                                            <div class="input-group input-group-default" >
                                                <form class="navbar-form navbar-right" action="{{ path('rechercherA',{'idG':idG}) }}" method="post">
                                                    <span class="input-group-btn"><td><input type="text" class="form-control" placeholder="Tapez votre texte..."
                                                                                             name="motcle" id="motcle"></td></span>
                                                                 </form>
                                      </div>
                                        </table>

                                        <div class="card-title">


                                        </div>
                                        <div class="col-lg-12">


                                            <div class="card-body">
<input type="hidden" value="{{ idG }}">
                                                <table class="table">
                                                    <tr >
                                                        <td style="color: darkviolet">Nom</td>
                                                        <td style="color: darkviolet">Garderie</td>
                                                        <td style="color: darkviolet">Nombre d'étape</td>
                                                        <td style="color: darkviolet">Date Debut</td>
                                                        <td style="color: darkviolet"> Date Fin</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    {% for i in m %}
                                                        <tbody>

                                                        <tr>

                                                            <td style="text-align: left">{{ i.nom }}</td>
                                                                <td>{{ i.idGarderie.getNom() }}</td>
                                                                <td>{{ i.nbEtape }}</td>
                                                            <td>{{ i.dateDebut|date  }}</td>
                                                              <td>{{ i.dateFin|date }}</td>



                                                            <td>  <form action="{{ path('supprimerActivite2',{'idG':idG,'id':i.getIdActivite() }) }}" method="post"><button type="submit" class="btn btn-danger m-b-10 m-l-5"><img width="15px" height="auto" src="{{ asset("ressources/delete.png") }}"></button></form></td>
                                                            <td>      <li class="nav-item dropdown mega-dropdown"> <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="input-group-btn"><button class="btn btn-primary" type="submit"><img width="15px" height="auto" src="{{ asset("ressources/loop.png") }}"></button></span></a>
                                                            </td>
                                                                    <div class="dropdown-menu animated zoomIn">
                                                                        <ul class="mega-dropdown-menu row">


                                                                            <li class="col-lg-12  ">


                                                                            </li>
                                                                            <li class="col-lg-12 ">



                                                                            </li>


                                                                        </ul>
                                                                    </div>
                                                                </li>


                                                        </tr>

                                                        </tbody>
                                                    {% endfor %}
                                                </table>
                                                <script src="{{ asset('jquery.js')}}"></script>
                                                <script>


                                                    $("#bt").click(
                                                        function(){
                                                            $("#myModal1").hide() ;

                                                        }
                                                    )

                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- /# column -->

                                    <!-- /# card -->
                                </div>
                                <!-- /# column -->
                            </div>
                            <!-- /# row -->


                        </div>
                    </div>

            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->

    <!-- End Wrapper -->


    <!--stickey kit -->
    <script src="{{ asset('back/js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('back/js/custom.min.js') }}"></script>
{% endblock %}